.main-grid {
  border-collapse: collapse;
  font-size: 0;
  font-family: serif;
}

.main-grid td,th {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.main-grid thead th {
  vertical-align: bottom;
}

.main-grid th div {
  width: 16px;
  height: 16px;
  font-size: initial;
  /* border: 1px solid black; */
  line-height: 16px;
  overflow: hidden;
}

.main-grid tbody th {
  /* row rules cell */
  text-align: right;
}

.main-grid tbody th div {
  /* row rule numbers */
  text-align: center;
  display: inline-block;
}
